DEBUG: Connecting to postgresql://vectra:vectra@localhost:5432/vectra
BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 3c31d21ec402

INSERT INTO alembic_version (version_num) VALUES ('3c31d21ec402') RETURNING alembic_version.version_num;

-- Running upgrade 3c31d21ec402 -> b913a7e3cc8a

CREATE TABLE knowledge_bases (
    id UUID NOT NULL, 
    name VARCHAR NOT NULL, 
    description VARCHAR, 
    connector_type VARCHAR NOT NULL, 
    configuration JSONB NOT NULL, 
    is_enabled BOOLEAN, 
    schedule_cron VARCHAR, 
    status VARCHAR, 
    last_error TEXT, 
    last_synced_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE TABLE knowledge_documents (
    id UUID NOT NULL, 
    knowledge_base_id UUID NOT NULL, 
    file_path VARCHAR NOT NULL, 
    file_name VARCHAR NOT NULL, 
    content_hash VARCHAR, 
    last_modified_at_source TIMESTAMP WITH TIME ZONE, 
    file_size INTEGER, 
    status VARCHAR, 
    error_message TEXT, 
    file_metadata JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(knowledge_base_id) REFERENCES knowledge_bases (id), 
    CONSTRAINT uq_kb_file_path UNIQUE (knowledge_base_id, file_path)
);

CREATE INDEX ix_knowledge_documents_knowledge_base_id ON knowledge_documents (knowledge_base_id);

UPDATE alembic_version SET version_num='b913a7e3cc8a' WHERE alembic_version.version_num = '3c31d21ec402';

-- Running upgrade b913a7e3cc8a -> 1afea1289538

CREATE TABLE assistants (
    id UUID NOT NULL, 
    name VARCHAR NOT NULL, 
    description VARCHAR, 
    avatar_color VARCHAR, 
    instructions TEXT NOT NULL, 
    model VARCHAR, 
    configuration JSONB NOT NULL, 
    is_enabled BOOLEAN, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE TABLE assistant_knowledge_bases (
    assistant_id UUID NOT NULL, 
    knowledge_base_id UUID NOT NULL, 
    PRIMARY KEY (assistant_id, knowledge_base_id), 
    FOREIGN KEY(assistant_id) REFERENCES assistants (id), 
    FOREIGN KEY(knowledge_base_id) REFERENCES knowledge_bases (id)
);

UPDATE alembic_version SET version_num='1afea1289538' WHERE alembic_version.version_num = 'b913a7e3cc8a';

-- Running upgrade 1afea1289538 -> 976cd9ffd628

ALTER TABLE knowledge_bases RENAME TO connectors;

ALTER TABLE knowledge_documents RENAME TO connectors_documents;

ALTER TABLE assistant_knowledge_bases RENAME TO assistant_connectors;

ALTER TABLE connectors_documents RENAME knowledge_base_id TO connector_id;

ALTER TABLE assistant_connectors RENAME knowledge_base_id TO connector_id;

ALTER TABLE connectors_documents DROP CONSTRAINT knowledge_documents_knowledge_base_id_fkey;

ALTER TABLE connectors_documents ADD CONSTRAINT fk_connectors_documents_connector_id FOREIGN KEY(connector_id) REFERENCES connectors (id);

ALTER TABLE assistant_connectors DROP CONSTRAINT assistant_knowledge_bases_knowledge_base_id_fkey;

ALTER TABLE assistant_connectors DROP CONSTRAINT assistant_knowledge_bases_assistant_id_fkey;

ALTER TABLE assistant_connectors ADD CONSTRAINT fk_assistant_connectors_connector_id FOREIGN KEY(connector_id) REFERENCES connectors (id);

ALTER TABLE assistant_connectors ADD CONSTRAINT fk_assistant_connectors_assistant_id FOREIGN KEY(assistant_id) REFERENCES assistants (id);

ALTER TABLE connectors_documents DROP CONSTRAINT uq_kb_file_path;

ALTER TABLE connectors_documents ADD CONSTRAINT uq_connector_file_path UNIQUE (connector_id, file_path);

UPDATE alembic_version SET version_num='976cd9ffd628' WHERE alembic_version.version_num = '1afea1289538';

-- Running upgrade 976cd9ffd628 -> 658ea40bc116

ALTER TABLE connectors RENAME CONSTRAINT "knowledge_bases_pkey" TO "connectors_pkey";

ALTER TABLE connectors_documents RENAME CONSTRAINT "knowledge_documents_pkey" TO "connectors_documents_pkey";

ALTER INDEX "ix_knowledge_documents_knowledge_base_id" RENAME TO "ix_connectors_documents_connector_id";

UPDATE alembic_version SET version_num='658ea40bc116' WHERE alembic_version.version_num = '976cd9ffd628';

-- Running upgrade 658ea40bc116 -> ac5e71ba4874

CREATE TABLE knowledge_bases (
    id UUID NOT NULL, 
    name VARCHAR NOT NULL, 
    description VARCHAR, 
    connector_type VARCHAR NOT NULL, 
    configuration JSONB NOT NULL, 
    is_enabled BOOLEAN, 
    schedule_cron VARCHAR, 
    status VARCHAR, 
    last_error TEXT, 
    last_synced_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE TABLE notifications (
    id UUID NOT NULL, 
    type VARCHAR NOT NULL, 
    message VARCHAR NOT NULL, 
    read BOOLEAN, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE TABLE knowledge_documents (
    id UUID NOT NULL, 
    knowledge_base_id UUID NOT NULL, 
    file_path VARCHAR NOT NULL, 
    file_name VARCHAR NOT NULL, 
    content_hash VARCHAR, 
    last_modified_at_source TIMESTAMP WITH TIME ZONE, 
    file_size INTEGER, 
    status VARCHAR, 
    error_message TEXT, 
    file_metadata JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(knowledge_base_id) REFERENCES knowledge_bases (id), 
    CONSTRAINT uq_kb_file_path UNIQUE (knowledge_base_id, file_path)
);

CREATE INDEX ix_knowledge_documents_knowledge_base_id ON knowledge_documents (knowledge_base_id);

UPDATE alembic_version SET version_num='ac5e71ba4874' WHERE alembic_version.version_num = '658ea40bc116';

-- Running upgrade ac5e71ba4874 -> ce6c6ed7d4bf

ALTER TABLE connectors ADD COLUMN total_docs_count INTEGER DEFAULT '0' NOT NULL;

ALTER TABLE connectors ADD COLUMN indexed_docs_count INTEGER DEFAULT '0' NOT NULL;

ALTER TABLE connectors ADD COLUMN failed_docs_count INTEGER DEFAULT '0' NOT NULL;

ALTER TABLE connectors ADD COLUMN last_sync_start_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE connectors ADD COLUMN last_sync_end_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE connectors_documents ADD COLUMN doc_token_count INTEGER;

ALTER TABLE connectors_documents ADD COLUMN vector_point_count INTEGER;

ALTER TABLE connectors_documents ADD COLUMN processing_duration_ms INTEGER;

ALTER TABLE connectors_documents ADD COLUMN mime_type VARCHAR;

UPDATE alembic_version SET version_num='ce6c6ed7d4bf' WHERE alembic_version.version_num = 'ac5e71ba4874';

-- Running upgrade ce6c6ed7d4bf -> 656be86a67d1

CREATE TABLE chat_history (
    id SERIAL NOT NULL, 
    key VARCHAR NOT NULL, 
    value JSON NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT "chat_history:unique_key" UNIQUE (key)
);

CREATE INDEX "chat_history:idx_key" ON chat_history (key);

UPDATE alembic_version SET version_num='656be86a67d1' WHERE alembic_version.version_num = 'ce6c6ed7d4bf';

-- Running upgrade 656be86a67d1 -> bc14de6ecb97

CREATE TABLE "user" (
    id UUID NOT NULL, 
    email VARCHAR NOT NULL, 
    hashed_password VARCHAR NOT NULL, 
    role VARCHAR DEFAULT 'user' NOT NULL, 
    is_active BOOLEAN DEFAULT 'true' NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_user_email ON "user" (email);

UPDATE alembic_version SET version_num='bc14de6ecb97' WHERE alembic_version.version_num = '656be86a67d1';

-- Running upgrade bc14de6ecb97 -> c175087293b2

ALTER TABLE connectors ADD COLUMN schedule_type VARCHAR DEFAULT 'manual';

UPDATE alembic_version SET version_num='c175087293b2' WHERE alembic_version.version_num = 'bc14de6ecb97';

COMMIT;

