// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: var(--q-primary);
$secondary: var(--q-secondary);
$third: var(--q-third);
$fourth: var(--q-fourth);
$fifth: var(--q-fifth);
$accent: #5865f2;

$text-main: var(--q-text-main);
$text-sub: var(--q-text-sub);
$text: var(--q-text);

$dark: #202225;
$dark-page: #36393f;

$positive: #88d498;
$negative: #f19595;
$info: #8fa9ff;
$warning: #f4c38e;
